body {
    width: 800px;
    margin: 0 auto;
}

.question {
    margin-bottom: 32px;
}

.question_title {
    font-size: 1.2em;
    font-weight: bold;
}

.question_answer {
    width: 100%;
    display: flex;
}

.question_slider_label {
    display: inline;
    vertical-align: middle;
}

.question_slider {
    display: inline;
    flex-grow: 1;
    margin: 0 8px;
}

.button_container {
    width: 100%;
    text-align: right;
    margin-bottom: 200px;
}
